@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-slate-500 p-4;
	}

	button {
		@apply bg-slate-700 text-slate-300 px-2 py-1 rounded;
	}
}

body {
	img {
		box-shadow: 5px 5px 5px #555;
		margin-bottom: 1.5rem;
	}

	a.router-link-active {
		color: rgb(250, 250, 99);
	}

}